# ===========================
# Web framework
# ===========================
fastapi
uvicorn[standard]

# ===========================
# AI
# ===========================
openai

# ===========================
# Database
# ===========================
pymongo
# ===========================
# Environment Variables
# ===========================
python-dotenv

# ===========================
# HTTP Requests
# ===========================
requests

# ===========================
# YouTube API
# ===========================
google-api-python-client

# ===========================
# Reddit API
# ===========================
praw

# ===========================
# Google Authentication (Gmail)
# ===========================
google-auth
google-auth-oauthlib
google-auth-httplib2

# ===========================
# Gmail API
# ===========================
google-api-python-client

# ===========================
# Google Trends
# ===========================
pytrends

# ===========================
# Data Processing
# ===========================
pandas

# ===========================
# Notifications
# ===========================
discord-webhook
python-telegram-bot

# ===========================
# Embeddings
# ===========================
numpy